@keyframes scroller {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.splash {
    backface-visibility: hidden;
    text-align: center; 
    background-color: black;
    box-shadow: none;
    scrollbar-width: 0;
}

.horizontal-scrolling {
    animation: scroller 20s -10s linear infinite;
}

#edit-window {
    margin: 0px;
}

.custom-text-box {
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;

    box-sizing: content-box; 
    padding: 2px;
    padding-left: 5px;

    background-color: white;

    /* copied directly from xp.css */
    box-shadow: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}