@keyframes scroller {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.splash {
    backface-visibility: hidden;
    text-align: center; 
    background-color: black;
    box-shadow: none;
    scrollbar-width: 0;
}

.horizontal-scrolling {
    animation: scroller 20s -10s linear infinite;
}